
root = true

[*]
charser = utf-8
end_of_line = lf
indent_style = space
insert_final_new_line = true
trim_trailing_whitespace = true

[**.{js,css}]
indent_size = 4

[**.{json,html,jade}]
indent_size = 2

[**.md]
trim_trailing_whitespace = ignore
