[user]
	name = Denis Tuzhik
	email = dentuzhik@gmail.com
[push]
	default = simple
[credential]
	helper = cache --timeout=28800
[help]
	autocorrect = 1
[core]
	editor = vim
	whitespace = -l
[color]
	ui = true
[alias]
	a = add
	aa = add -A
	co = checkout
	cb = checkout -b
	ci = commit
	cia = commit -a
	ca = commit --amend
	caa = commit -a --amend
	st = status
	br = branch
	lp = log -p
	# Add all, Rebase continue
	arc = !git add -A && git rebase --continue
	# Move HEAD (rename current branch)
	mvh = !sh -c 'git branch -m `git rev-parse --abbrev-ref HEAD` $1' --
