# Compiled python files
*.pyc

# OSX directories meta files
.DS_Store

# Vscode specific extension
.history

# Tern specific metadata
.tern-port

# Commiting 1p-session to git is probably a bad idea :)
.1p-session
