snippet dbg "debugger;" w
debugger;
$0
endsnippet

snippet cl "console.log()" w
console.log($1);
endsnippet

snippet cls "console.log()" w
console.log('$1');
endsnippet

snippet clt "console.log()" w
console.log(\`$1\`);
endsnippet

snippet clo "console.log()" w
console.log('$1 = %o', $2);
endsnippet

snippet ce "console.error()" w
console.error($1);
endsnippet

snippet ces "console.error()" w
console.error('$1');
endsnippet

snippet cet "console.error()" w
console.error(\`$1\`);
endsnippet
